  <div class="card" style="width: 18rem">
      <img
        src="https://m.media-amazon.com/images/I/41ATfFjhelL._AC_SY780_.jpg"
        class="card-img-top"
        alt="Image of book title"
      />
      <div class="card-body">
        <h4 class="card-title">{{title}}</h4>
        <h5 class="card-title">Author: {{author}}</h5>
        <p class="card-text">
          {{summary}}
        </p>
        <a href="#" class="btn btn-primary">Reviews</a>
      </div>