<div class="card mt-3 mx-auto card-custom" style="max-width: 540px;">
      <div class="card-body">
        <details>
  <summary class="card-title">Review</summary>
  <div class="d-flex justify-content-between ">
    <h6 class="card-title">User: {{user_id}}</h6>
    <h6 class="card-title">Posted on: {{format_date date_posted}}</h6>
    </div>

  
  <p class="card-title text-center">{{content}}</p>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <button class="btn up-vote" style="width: 40px;">
        <i class="fa-solid fa-thumbs-up"></i>
      </button>
      <button class="btn down-vote" style="width: 40px;">
        <i class="fa-solid fa-thumbs-down"></i>
      </button>
      </div>
</details>
      </div>
    </div>