<div class="card" style="width: 18rem">
    <div class="text-center">
        <header>
            <h2>Book Summary</h2>
            <h4 class="card-title">{{title}}</h4>
            <h4>Author: {{author}}</h4>
        </header>
    </div>
    <div class="card-body ">
        <main class="card-text">
            {{content}}
        </main>
    </div>
</div>