<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bookit</title>
    <link rel="stylesheet" href="/css/jass.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
          <a class="nav-link" href="/login">Login</a>
        </div>
      </div>
    </nav>
    <h1 class="text-center">Bookit</h1>
    <div
      class="card mb-3 text-bg-dark text-center mx-auto"
      style="max-width: 540px"
    >
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="https://i0.wp.com/suntrustblog.com/wp-content/uploads/2021/05/books_1200_pexels-1.jpg?fit=1200%2C667&ssl=1"
            class="img-fluid rounded-start"
            alt="image of books"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label"
                >Username</label
              >
              <input
                type="username"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="enter username here"
              />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label"
                >Password</label
              >
              <input
                type="password"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="enter password here"
              />
              <a href="#" class="btn btn-secondary">Sign In</a>
              <a href="#" class="btn btn-secondary">Create New User</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
