<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ReadIt</title>
    <link rel="stylesheet" href="/css/jass.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" href="https://timewalkerauthor.files.wordpress.com/2017/10/books-snoo.png?w=584">
  </head>
  <body>
	<nav class="navbar navbar-expand-sm navbar-custom">
	  <div class="container-fluid ">
		<a class="navbar-brand" href="/">
      <img src="https://timewalkerauthor.files.wordpress.com/2017/10/books-snoo.png?w=584" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      ReadIt
    </a>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/newread">Add New Read</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/reviews">Reviews</a>
            </li>
            </ul>
            {{#if logged_in}}
             <nav>
      <button class="btn" id="logout">logout</button>
    </nav>
    
		<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
		  <ul class="navbar-nav ">
			<li class="nav-item dropdown username_right">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Username
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Your Profile</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/logout">Logout</a></li>
          </ul>
        </li>
		  </ul>		  
		</div>
    {{/if}}
	  </div>
	</nav>
    {{{ body }}}
  </body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
{{!-- maybe use sweetalerts for verification of login?? --}}
{{!-- <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> --}}
</html>
