<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bookit</title>
    <link rel="stylesheet" href="/css/jass.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
          <a class="nav-link" href="/login">Login</a>
        </div>
      </div>
    </nav>
    <h1>Bookit</h1>
    <a class="nav-link" href="/profile">Your Username Here</a>
    <div class="card" style="width: 18rem">
      <img
        src="https://m.media-amazon.com/images/I/41ATfFjhelL._AC_SY780_.jpg"
        class="card-img-top"
        alt="Image of book title"
      />
      <div class="card-body">
        <h4 class="card-title">The Midnight Library</h4>
        <h5 class="card-title">Author: Matt Haig</h5>
        <p class="card-text">
          Nora Seed feels stuck in her life, bound to the choices she made that
          she still isn't sure were right. When Nora is ready to leave it all
          behind, she finds herself in a peculiar library, where each of the
          infinite books offers a portal to a parallel world, showing her all
          the many ways her life could have been slightly or drastically
          different, had she made other decisions.
        </p>
        <a href="#" class="btn btn-primary">Reviews</a>
      </div>
      <div class="card" style="width: 18rem">
        <img
          src="https://m.media-amazon.com/images/I/51FVPBt51ZL.jpg"
          class="card-img-top"
          alt="Image of book title"
        />
        <div class="card-body">
          <h4 class="card-title">The Invisible Life of Addie LaRue</h4>
          <h5 class="card-title">Author: V.E. Schwab</h5>
          <p class="card-text">
            "The Invisible Life of Addie LaRue" is a genre-bending fantasy book about
             a young woman named Addie who, in 1714, makes a bargain with a dark god and 
             becomes cursed to be forgotten by everyone she meets. Addie's story spans three 
             centuries and countless countries — until she meets a boy in New York City in 2014 
             who can finally remember her.
          </p>
          <a href="#" class="btn btn-primary">Reviews</a>
        </div>
    </div>
    {{{ body }}}
  </body>
</html>
