{{!-- we want to only get one book here --}}
{{#each books as |book|}}
{{> book-post}}
{{/each}}

{{!-- <div class="card text-center">
    <img src="{{cover}}" class="card-img-top" alt="Image of book title" />
    <div class="card-body">
    <h5 class="card-title">Book Title</h5>
    <p class="card-text">Summary goes here</p>
    <a href="#" class="btn btn-primary">Add Review</a>
    </div>
</div> --}}