
    <h1 class="text-center mt-5">Sign Up Below</h1>
<div class="card mb-3 mx-auto my-5 card-custom" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://timewalkerauthor.files.wordpress.com/2017/10/books-snoo.png?w=584" class="img-fluid rounded" alt="reddit guy reading book">
    </div>
    <div class="col-md-8">
      <div class="card-body">
<form>
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" id="username">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password">
  </div>
  <button id="sign-up" type="sign-up" class="btn btn-primary btn-space">Create Account</button>
</form>
      </div> 
    </div>
  </div>
</div>

  <script src="/js/signup.js"></script>
