.navbar-custom {
    background-color: #2C4870;
}

.nav-link, .navbar-brand {
    color: aliceblue;
}

.card-custom {
    background-color: #d3c1b4;
}

.img-fluid {
    margin-top: 3rem;
}

.btn-space {
    margin-left: 5rem;
}

.create-btn {
    margin-left: 35%;
}

.img-create {
    margin-top: 3.5rem;
}

body {
    background-color: #c9b594;
}

button {
    display: block;
    margin: auto;
    width: 150px;
    background-color: #2C4870;
    color: aliceblue;
}